*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: thistle;
}
#form
{
    width: 300px;
    border-radius: 12px;
    background-color: whitesmoke;

    padding: 20px;
    font-size: 12px;
    font-weight: 300;

}
#form h1
{
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    color: yellowgreen;
}
#form button
{
    color: green;
    padding: 6px;
    margin-top: 6px;
    text-align: center;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 200;
    background: gainsboro;
    display: block;
    margin: 0 auto;
    width: 150px;

}
.input-control
{
    display: flex;
    flex-direction: column;

}
.input-control input
{
    border: 2px solid gray;
    border-radius: 5x;
    padding: 6px;
    display: block;
    font-size: 1rem;
    width: 100;

}